body {
  background-color: #473a8d;
}
.container {
  margin-left: 160px;
  background: white;
  width: 80%;
  height: 600px;
  margin-top: 50px;
}
.ques {
  color: black;
  text-align: center;
  padding-top: 50px;
}
.NoOfQues {
  padding-left: 25px;
}
p {
  padding-top: 20px;
  text-align: center;
}
.options {
  display: flex;
  margin-top: 90px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.option {
  background-color: #1ea1f1;
  margin: 20px;
  width: 530px;
  height: 40px;
  border-radius: 20px;
  color: white;
  border-style: none;
}
.btn {
  margin: 0 30px 30px 0;
  width: 100px;
  border-radius: 0;
  height: 32px;
  color: black;
  font-weight: bold;
}
.lastBtns {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
#pre {
  background-color: #3e7eaa;
}
#next {
  background-color: #008001;
}
#quit {
  background-color: #ff0000;
}
